.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 10000;
  width: 100%;
  padding: var(--inner_m);
  background-color: rgba(255,255,255,0.2);
  .header_title {
    color: #525292;
  }
  .header_Explanation {
    .header_Explanation_title {
      color: #525292;
    }
    .header_Explanation_content {
      /* display: none; */
    }
  }
  /* 実装内容 */
  .Explanation {
    background-color: #525292;
    position: fixed;
    transform:translateY(-100%);
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    padding: var(--inner_m);
    transition: .5s;
    .Explanation_caption {}
    .Explanation_title {
      margin-top: 2rem;
    }
    .Explanation_list {
      margin-top: 1rem;
      list-style: disc;
      padding-left: 2rem;
      padding-bottom: 2rem;
      li {
        & + & {
          margin-top: 0.5rem;
        }
      }
    }
    &.active {
      transform:translateX(0);
    }
  }
}
.mainLayout {
  display: flex;
  flex-wrap: wrap;
  height: 100svh;
  position: relative;
  .mainLayout_monitor {
    width: 100%;
  }
  .mainLayout_menu {
    right: var(--inner_m);
    bottom: 3.5rem;
    position: absolute;
    z-index: 1000;
  }
}
.monitor {
  padding-bottom: 3rem;
  height: 100svh;
  .monitor_feald {
    z-index: 10;
    inset: 0;
    position: absolute;
    overflow: hidden;
  }
  .monitor_bg {
    position: absolute;
    overflow: hidden;
    inset: 0;
    .monitor_bg_overlay {
      z-index: 5;
      position: absolute;
      left: 0;
      right: 0;
      height: 100svh;
      background-color: #888888;
      mix-blend-mode: overlay;
    }
    .monitor_bg_gradation, .monitor_bg_gradation2 {
      z-index: 1;
      position: absolute;
      left: 0;
      right: 0;
      height: 100svh;
      background-image: linear-gradient(0deg, #23c0f0, #0049ad 18%, #003580 32% 39%, #0158b8 60%, #079de8 87%, #50e8ff);
    }
    .monitor_bg_gradation2 {
      background-image: linear-gradient(0deg, #e0e0d8, #5aa9b8 18%, #006aab 31%, #0769cb 43%, #0085c0 54%, #f7cf75 87%, #fbfbc6);
    }
  }
}
.history {
  z-index: 1000;
  height: 3rem;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6565a0;
  .history_title {
    font-size: 0.75rem;
    color: var(--color_bg);
    text-align: center;
    top: -1.25rem;
    width: 3rem;
    padding: var(--inner_s);
    border-radius: 0.5rem 0.5rem 0 0 ;
    background-color: #6565a0;
    position: absolute;
  }
  .history_list {
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: var(--inner_s);
    gap: 0.5rem;
    li {
      button {
        height: 2rem;
        width: 2rem;
        background-color: var(--color_bg);
      }
    }
  }
}
.menu {
  .menu_btn {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: #fff
  }
  .menu_list {
    display: none;
  }
}
.fidh-1, .fidh-2, .fidh-3, .fidh-4, .fidh-5 {
  position: absolute;
  height: 3rem;
  width: 6rem;
  background-color: #fff;
  border-right: 2px solid ;
}
.fidh-1 {
  top: 20%;
  left: 5%;
  animation: fish1 60s infinite ease-out;
}
.fidh-2 {
  top: 30%;
  right: 10%;
  animation: fish2 40s 1s infinite ease-out;
}
.fidh-3 {
  top: 50%;
  left: 40%;
  animation: fish3 50s infinite ease-out;
}
.fidh-4 {
  top: 70%;
  right: 15%;
  animation: fish4 30s 3s infinite ease-out;
}
.fidh-5 {
  bottom: 6rem;
  left: 10%;
  animation: fish5 35s infinite ease-out;
}
.seaweed-1, .seaweed-2 {
  z-index: 2;
  position: absolute;
  background-color: #82a56d;
  border-right: 2px solid;
  bottom: 3rem;
  transform-origin: center bottom;
}
.seaweed-1 {
  height: 20rem;
  width: 6rem;
  left: 0;
  animation: seaweed1 16s infinite linear;
}
.seaweed-2 {
  height: 30rem;
  width: 5rem;
  right: -1rem;
  animation: seaweed1 20s infinite linear;
}
@keyframes fish1 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(20rem, 2rem);
  }
  21% {
    transform: translate(20rem, 2rem) scaleX(-1);
  }
  40% {
    transform: translate(10rem, 4rem) scaleX(-1);
  }
  41% {
    transform: translate(10rem, 4rem);
  }
  60% {
    transform: translate(26rem, 3rem);
  }
  61% {
    transform: translate(26rem, 3rem) scaleX(-1);
  }
  80% {
    transform: translate(8rem, 2rem) scaleX(-1);
  }
  99% {
    transform: translate(0, 0) scaleX(-1);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes fish2 {
  0% {
    transform: translate(0, 0) scaleX(-1);
  }
  1% {
    transform: translate(0, 0) scaleX(-1);
  }
  20% {
    transform: translate(-10rem, 5rem) scaleX(-1);
  }
  40% {
    transform: translate(-25rem, 4rem) scaleX(-1);
  }
  41% {
    transform: translate(-25rem, 4rem);
  }
  60% {
    transform: translate(-14rem, 1rem);
  }
  80% {
    transform: translate(-2rem, -2rem);
  }
  81% {
    transform: translate(-2rem, -2rem);
  }
  99% {
    transform: translate(0, 0) ;
  }
  100% {
    transform: translate(0, 0) scaleX(-1);
  }
}
@keyframes fish3 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(15rem, -5rem);
  }
  21% {
    transform: translate(15rem, -5rem) scaleX(-1);
  }
  40% {
    transform: translate(10rem, -4rem) scaleX(-1);
  }
  41% {
    transform: translate(10rem, -4rem);
  }
  60% {
    transform: translate(12rem, -1rem);
  }
  61% {
    transform: translate(12rem, -1rem) scaleX(-1);
  }
  80% {
    transform: translate(4rem, 2rem) scaleX(-1);
  }
  99% {
    transform: translate(0, 0) scaleX(-1);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes fish4 {
  0% {
    transform: translate(0, 0) scaleX(-1);
  }
  1% {
    transform: translate(0, 0) scaleX(-1);
  }
  20% {
    transform: translate(-5rem, -5rem) scaleX(-1);
  }
  40% {
    transform: translate(-15rem, -4rem) scaleX(-1);
  }
  41% {
    transform: translate(-15rem, -4rem);
  }
  60% {
    transform: translate(-14rem, -1rem);
  }
  80% {
    transform: translate(-2rem, 2rem);
  }
  81% {
    transform: translate(-2rem, 2rem);
  }
  99% {
    transform: translate(0, 0) ;
  }
  100% {
    transform: translate(0, 0) scaleX(-1);
  }
}
@keyframes fish5 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(2rem, -1rem) ;
  }
  40% {
    transform: translate(7rem, -2rem) ;
  }
  41% {
    transform: translate(9rem, -2rem);
  }
  60% {
    transform: translate(14rem, -1rem);
  }
  61% {
    transform: translate(14rem, -1rem) scaleX(-1);
  }
  80% {
    transform: translate(6rem, 2rem) scaleX(-1);
  }
  81% {
    transform: translate(6rem, 2rem) scaleX(-1);
  }
  99% {
    transform: translate(0, 0) scaleX(-1);;
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes seaweed1 {
  0% {
    transform: rotate(0)
  }
  25% {
    transform: rotate(3deg)
  }
  75% {
    transform: rotate(-3deg)
  }
  100% {
    transform: rotate(0)
  }
}