.header {
  pointer-events: none;
  position: fixed;
  display: flex;
  inset: 0;
  justify-content: space-between;
  z-index: 10000;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  align-items: flex-start;
  .header_title {
    padding: var(--inner_m);
    color: var(--color_bg);
  }
  .header_Explanation {
    pointer-events: all;
    position: relative;
    .header_Explanation_title {
      z-index: 10;
      position: relative;
      color: var(--color_bg);
      padding: var(--inner_m);
      padding-bottom: 1rem;
      background-color: #48497f;
    }
    .header_Explanation_content {
      z-index: 8;
      background-color: #48497f;
      position: fixed;
      transform:translateY(-100%);
      top: 0;
      left: 0;
      right: 0;
      transition: .5s;
      padding-top: 2rem;
      &.active {
        transform:translateX(0);
      }
    }
    .header_Explanation_content + .header_Explanation_overlay {
      background-color: #ffffff00;
      pointer-events: none;
      transition: .5s;
    }
    .header_Explanation_content.active + .header_Explanation_overlay {
      pointer-events: all;
      position: fixed;
      inset: 0;
    }
  }
  /* 実装内容 */
  .Explanation {
    color: #fff;
    line-height: 1.5;
    padding: var(--inner_m);
    max-width: 1600px;
    margin: 0 auto;
    .Explanation_caption {}
    .Explanation_title {
      margin-top: 2rem;
    }
    .Explanation_list {
      margin-top: 1rem;
      list-style: disc;
      padding-left: 2rem;
      padding-bottom: 2rem;
      li {
        & + & {
          margin-top: 0.5rem;
        }
      }
    }
  }
}
.mainLayout {
  display: flex;
  flex-wrap: wrap;
  height: 100svh;
  position: relative;
  .mainLayout_monitor {
    width: 100%;
  }
  /* .mainLayout_menu {
    right: var(--inner_m);
    bottom: 3.5rem;
    position: absolute;
    z-index: 1000;
  } */
}
.monitor {
  position: relative;
  overflow: hidden;
  height: 100svh;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-bottom: 3rem;
  .monitor_feald {
    z-index: 10;
    inset: 0;
    position: absolute;
    overflow: hidden;
  }
  .monitor_bg {
    position: absolute;
    overflow: hidden;
    inset: 0;
    .monitor_bg_overlay {
      z-index: 5;
      position: absolute;
      left: 0;
      right: 0;
      height: 100svh;
      background-color: #888888;
      mix-blend-mode: overlay;
    }
    .monitor_bg_gradation, .monitor_bg_gradation2, .monitor_bg_gradation3 {
      z-index: 1;
      position: absolute;
      left: 0;
      right: 0;
      height: 100svh;
      background-image: linear-gradient(0deg, #23c0f0, #0049ad 18%, #003580 32% 39%, #0158b8 60%, #079de8 87%, #50e8ff);
    }
    .monitor_bg_gradation2 {
      background-image: linear-gradient(0deg, #e0e0d8, #5aa9b8 18%, #006aab 31%, #0769cb 43%, #0085c0 54%, #f7cf75 87%, #fbfbc6);
    }
    .monitor_bg_gradation3 {
      background-image: linear-gradient(0deg, #074355, #001736 18%, #00193b 32% 39%, #002b58 60%, #066392 87%, #1d5799);
    }
  }
}
.history {
  z-index: 1000;
  height: 3rem;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #48497f;
  .history_title {
    position: absolute;
    font-size: 0.75rem;
    color: var(--color_bg);
    text-align: center;
    height: 1.25rem;
    top: -1.25rem;
    width: 3rem;
    padding: var(--inner_s);
    border-radius: 0.5rem 0.5rem 0 0 ;
    background-color: #48497f;
  }
  .history_list {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-end;
    height: 100%;
    padding-left: var(--inner_s);
    padding-top: 0.5rem;
    gap: 0.5rem;
    li {
      img {
        height: 2rem;
        width: 2rem;
        /* background-color: var(--color_bg); */
      }
    }
  }
}
.menu {
  z-index: 10000;
  position: relative;
  .menu_btn {
    z-index: 10010;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-image: url(../assets/icon_book.png);
    background-size: 70% auto;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    box-shadow: var(--shadow);
    transition: .2s;
    &:hover {
      background-color: #d9d9e9;
    }
  }
  .menu_feald {
    position: fixed;
    z-index: 10000;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    transform: translateX(100%);
    /* background-color: rgba(0, 25, 59, 0.8); */
    transition: .5s;
    &.active {
      transform:translateX(0);
    }
  }
  .menuFeald {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 30rem;
    max-width: 100%;
    background-color: #b67c55;
    border-left: 0.25rem solid #c7b6aa;
    background-image: linear-gradient(#d6b895, #a78168);
    padding: 0.5rem;

    @media screen and (min-width: 767px) {
      padding: 3rem 1rem;
    }
    .menuFeald_title {
      font-size: 2rem;
      color: var(--color_bg);
      text-align: center;
      padding-bottom: var(--inner_m);
      border-bottom: 0.125rem dashed var(--color_bg);
    }
    .menuFeald_list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 1rem;
      gap: 0.5rem;
      li {
        background-color: var(--color_bg);
        button, div {
          height: 2.5rem;
          width: 2.5rem;
          background-color: #edeee6;
          box-shadow: var(--shadow);
          transition: .5s;
          border: 0.125rem solid var(--color_bg);
          @media screen and (min-width: 767px) {
            height: 5rem;
            width: 5rem;
          }
          &.active {
            border: 0.125rem solid red;
            pointer-events: none;
          }
        }
        button:hover {
          opacity: 0.6;
        }
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
    .menuFeald_note {
      margin-top: 1rem;
      padding: var(--inner_s);
      background-color: #edeee6;
      box-shadow: var(--shadow);
      @media screen and (min-width: 767px) {
        margin-top: 2rem;
        padding: 1rem;
      }
      .menuFeald_note_img {
        background-color: var(--color_bg);
        width: 100%;
        font-size: 0.75rem;
        overflow: hidden;
        text-align: center;
        box-shadow: var(--shadow);
        img {
          width: 100%;
          aspect-ratio: 16 / 9;
          object-fit: cover;
        }
      }
      .menuFeald_note_list {
        margin-top: 0.5rem;
        line-height: 1.4;
        li {
          vertical-align: middle;
          border-bottom: 0.125rem dotted #46362b50;
          .count-100, .count-10 {
            height: 0.75rem;
            width: 1.25rem;
            margin-left: 0.125rem;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-position: center bottom;
          }
          .count-100 {
            background-image: url(../assets/clown-gold.svg);
          }
          .count-10 {
            background-image: url(../assets/clown-silver.svg);
          }
        }
        .menuFeald_note_list_family {
          display: flex;

        }
      }
    }
  }
}
/* 魚の動き・表示 */
.fish-1, .fish-2, .fish-3, .fish-4, .fish-5 {
  position: absolute;
  height: 6rem;
  width: 6rem;
  img {
    width: 100%;
    position: absolute;
    inset: 0;
  }
}
.fish-1 {
  top: 20%;
  left: 5%;
  animation: fish1 60s infinite ease-out;
}
.fish-2 {
  top: 30%;
  right: 10%;
  animation: fish2 40s 1s infinite ease-out;
}
.fish-3 {
  top: 50%;
  left: 40%;
  animation: fish3 50s infinite ease-out;
}
.fish-4 {
  top: 70%;
  right: 15%;
  animation: fish4 30s 3s infinite ease-out;
}
.fish-5 {
  bottom: 6rem;
  left: 10%;
  animation: fish5 35s infinite ease-out;
}
.seaweed-1, .seaweed-2, .seaweed-3 {
  z-index: 5;
  position: absolute;
  bottom: 3rem;
  transform-origin: center bottom;
  background-size: 100% auto;
}
.seaweed-1 {
  height: 20rem;
  width: 6rem;
  left: 0;
  animation: seaweed1 16s infinite linear;
  background-image: url(../assets/seaweed-1.png);
  filter: drop-shadow(20rem 4rem 0.125rem #659aa3aa) drop-shadow(50rem 2rem 0.25rem #659aa3aa);
}
.seaweed-2 {
  height: 30rem;
  width: 5rem;
  right: -5rem;
  animation: seaweed1 20s infinite linear;
  background-image: url(../assets/seaweed-2.png);
  filter:drop-shadow(-25rem 4rem 0.125rem #3c776f88) drop-shadow(-60rem 4rem 0.125rem #58928abb);
}
.seaweed-3 {
  height: 30rem;
  width: 5rem;
  right: 2rem;
  animation: seaweed1 21s infinite linear;
  background-image: url(../assets/seaweed-2.png);
}
@keyframes fish1 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(20rem, 2rem);
  }
  21% {
    transform: translate(20rem, 2rem) scaleX(-1);
  }
  40% {
    transform: translate(10rem, 4rem) scaleX(-1);
  }
  41% {
    transform: translate(10rem, 4rem);
  }
  60% {
    transform: translate(26rem, 3rem);
  }
  61% {
    transform: translate(26rem, 3rem) scaleX(-1);
  }
  80% {
    transform: translate(8rem, 2rem) scaleX(-1);
  }
  99% {
    transform: translate(0, 0) scaleX(-1);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes fish2 {
  0% {
    transform: translate(0, 0) scaleX(-1);
  }
  1% {
    transform: translate(0, 0) scaleX(-1);
  }
  20% {
    transform: translate(-10rem, 5rem) scaleX(-1);
  }
  40% {
    transform: translate(-25rem, 4rem) scaleX(-1);
  }
  41% {
    transform: translate(-25rem, 4rem);
  }
  60% {
    transform: translate(-14rem, 1rem);
  }
  80% {
    transform: translate(-2rem, -2rem);
  }
  81% {
    transform: translate(-2rem, -2rem);
  }
  99% {
    transform: translate(0, 0) ;
  }
  100% {
    transform: translate(0, 0) scaleX(-1);
  }
}
@keyframes fish3 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(15rem, -5rem);
  }
  21% {
    transform: translate(15rem, -5rem) scaleX(-1);
  }
  40% {
    transform: translate(10rem, -4rem) scaleX(-1);
  }
  41% {
    transform: translate(10rem, -4rem);
  }
  60% {
    transform: translate(12rem, -1rem);
  }
  61% {
    transform: translate(12rem, -1rem) scaleX(-1);
  }
  80% {
    transform: translate(4rem, 2rem) scaleX(-1);
  }
  99% {
    transform: translate(0, 0) scaleX(-1);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes fish4 {
  0% {
    transform: translate(0, 0) scaleX(-1);
  }
  1% {
    transform: translate(0, 0) scaleX(-1);
  }
  20% {
    transform: translate(-5rem, -5rem) scaleX(-1);
  }
  40% {
    transform: translate(-15rem, -4rem) scaleX(-1);
  }
  41% {
    transform: translate(-15rem, -4rem);
  }
  60% {
    transform: translate(-14rem, -1rem);
  }
  80% {
    transform: translate(-2rem, 2rem);
  }
  81% {
    transform: translate(-2rem, 2rem);
  }
  99% {
    transform: translate(0, 0) ;
  }
  100% {
    transform: translate(0, 0) scaleX(-1);
  }
}
@keyframes fish5 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(2rem, -1rem) ;
  }
  40% {
    transform: translate(7rem, -2rem) ;
  }
  41% {
    transform: translate(9rem, -2rem);
  }
  60% {
    transform: translate(14rem, -1rem);
  }
  61% {
    transform: translate(14rem, -1rem) scaleX(-1);
  }
  80% {
    transform: translate(6rem, 2rem) scaleX(-1);
  }
  81% {
    transform: translate(6rem, 2rem) scaleX(-1);
  }
  99% {
    transform: translate(0, 0) scaleX(-1);;
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes seaweed1 {
  0% {
    transform: rotate(0)
  }
  25% {
    transform: rotate(3deg)
  }
  75% {
    transform: rotate(-3deg)
  }
  100% {
    transform: rotate(0)
  }
}
/* 消えるときのアニメーション */
.fish-leaving {
  animation: fishDisappear 1s forwards;
}
@keyframes fishDisappear {
  from {
    opacity: 1;
  }
  
  to {
    opacity: 0;
  }
}
/* キャッチアクション */
.fish-catching {
  img{
    animation: fishDisappear .5s forwards;
  }
  .clickAnimation {
    position: absolute;
    text-align: center;
    animation: fishclick 0.5s linear;
    display: inline-block;
    height: 0.2rem;
    width: 0.2rem;
    left: calc(50% - 0.1rem);
    top: calc(50% - 0.1rem);
    border-radius: 50%;
    opacity: 0;
  }
}
@keyframes fishclick {
  0% {
    left: calc(50% - 0.1rem);
    top: calc(50% - 0.1rem);
    border: 1px solid #fff;
    opacity: 1;
  }
  40% {
    height: 3rem;
    width: 3rem;
    left: calc(50% - 1.5rem);
    top: calc(50% - 1.5rem);
    border: 1px solid #fff;
    opacity: 1;
  }
  80% {
    height: 6rem;
    width: 6rem;
    left: calc(50% - 3rem);
    top: calc(50% - 3rem);
    border: 1px solid #fff;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* 復活アクション */
.fish-respawning {
  animation: fishEespawning 1s forwards;
}
@keyframes fishEespawning {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}
/* 履歴の削除 */
.history-leaving {
  animation: fishDisappear 0.5s forwards;
}
.bubble-1 {
  z-index: 3;
  position: absolute;
  bottom: -30rem;
  right: 0rem;
  height: 20rem;
  width: 20rem;
  opacity: 0.5;
  background-image: url(../assets/bubble-1.svg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  filter:drop-shadow(-35rem -8rem 0 #ffffff88) drop-shadow(-22rem 10rem 0 #ffffffdd);
  animation: bubble1 40s infinite linear normal;
}
.bubble-1, .bubble-2 {
  z-index: 3;
  position: absolute;
  background-image: url(../assets/bubble-1.svg);
  background-repeat: no-repeat;
  opacity: 0.5;
}
.bubble-1{
  bottom: -30rem;
  right: 0rem;
  height: 20rem;
  width: 20rem;
  background-size: 100% auto;
  animation: bubble1 40s infinite linear normal;
  filter:drop-shadow(-45rem -8rem 0 #ffffff88) drop-shadow(-22rem 10rem 0 #ffffffdd);
}
.bubble-2 {
  bottom: -30rem;
  right: -5rem;
  height: 18rem;
  width: 18rem;
  transform: rotate(-80deg);
  background-size: 100% auto;
  animation: bubble1 60s  infinite linear normal;
  filter:drop-shadow(-26rem -28rem 0 #ffffff88) drop-shadow(-15rem -60rem 0 #ffffffdd);
}
@keyframes bubble1 {
  0% {
    bottom: -30rem;
    opacity: 0.5;
  }
  25% {
    bottom: -10rem;
    opacity: 0.4;
  }
  50% {
    bottom: 10rem;
    opacity: 0.3;
  }
  75% {
    bottom: 30rem;
    opacity: 0.2;
  }
  100% {
    bottom: 50rem;
    opacity: 0;
  }
}