:root {
  --color_text: #333;
  --color_bg: #fff;
  --color_base: #a6c1d3;
  --color_main: #aa3bff;
  --color_accent: #3b3eff;
  --color_border: #e5e4e7;
  --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px;

  --inner_m: 0.5rem;
  --inner_s: 0.25rem;

  font-family: "M PLUS Rounded 1c", sans-serif;
  color: var(--color_text);
  background-color: var(--color_bg);
  -moz-osx-font-smoothing: grayscale;
}
body {
  position: relative;
}
